<div
  class="header d-flex flex-column justify-content-center align-items-center p-5"
>
  <div class="text-center w-50">
    <h2 class="text-light">Skills</h2>
    <p class="text-light">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, illum
      fugit hic sunt at doloremque quia eveniet esse qui ipsum? Ducimus dolore
      placeat sit perspiciatis beatae facilis, aliquam non sequi?Lorem ipsum,
      dolor sit amet consectetur adipisicing elit. Corporis maiores libero
      soluta amet provident, quos saepe delectus excepturi molestias aliquam
      adipisci debitis id ex assumenda vel porro aliquid obcaecati quod!
    </p>
    <div class="container row"></div>
    <div class="row">
      <div class="col-6">
        <h4 class="text-light">My focus</h4>
        <hr class="text-light" />
        <h5 class="text-light">Ui/Ux</h5>
        <h5 class="text-light">Responsive Desgin</h5>
        <h5 class="text-light">Web Design</h5>
        <h5 class="text-light">Mobile Design</h5>
      </div>
      <div class="col-6">
        <div class="d-flex mt-2">
          <div class="card"><p class="p-1 text-light">Html</p></div>
          <div class="card-pro">
            <div class="card-overlay-one p-2">&nbsp;</div>
          </div>
        </div>
        <div class="d-flex mt-2">
          <div class="card"><p class="p-1 text-light">Css</p></div>
          <div class="card-pro">
            <div class="card-overlay-one p-2 w-25">&nbsp;</div>
          </div>
        </div>
        <div class="d-flex mt-2">
          <div class="card"><p class="p-1 text-light">java</p></div>
          <div class="card-pro">
            <div class="card-overlay-one p-2 w-50">&nbsp;</div>
          </div>
        </div>
        <div class="d-flex mt-2">
          <div class="card"><p class="p-1 text-light">JavaScript</p></div>
          <div class="card-pro">
            <div class="card-overlay-one p-2">&nbsp;</div>
          </div>
        </div>
        <div class="d-flex mt-2">
          <div class="card"><p class="p-1 text-light">python</p></div>
          <div class="card-pro">
            <div class="card-overlay-one p-2">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
