.header {
  background-color: #525659;
}
.progress-bar {
  background-color: #838b97 !important;
}
.card {
  width: 80px;
  background-color: grey;
}
.card-pro {
  width: 300px;
  position: relative;
  background-color: white;
}
.card-overlay-one {
  width: 200px;
  height: 100%;
  background-color: #838b97;
}
