<div class="cards row text-center justify-content-center mt-5">
  <div class="card col-3 me-2">
    <div class="card-body">
      <h5 class="card-title text-light">Web Design</h5>
      <hr class="text-light" />
    </div>
  </div>
  <div class="card col-3 me-2">
    <div class="card-body">
      <h5 class="card-title text-light">Web Design</h5>
      <hr class="text-light" />
    </div>
  </div>
  <div class="card col-3 me-2">
    <div class="card-body">
      <h5 class="card-title text-light">Web Design</h5>
      <hr class="text-light" />
    </div>
  </div>
  <div class="card col-3 me-2">
    <div class="card-body">
      <h5 class="card-title text-light">Web Design</h5>
      <hr class="text-light" />
    </div>
  </div>
  <div class="card col-3 me-2">
    <div class="card-body">
      <h5 class="card-title text-light">Web Design</h5>
      <hr class="text-light" />
    </div>
  </div>
  <div class="card col-3 me-2">
    <div class="card-body">
      <h5 class="card-title text-light">Web Design</h5>
      <hr class="text-light" />
    </div>
  </div>
</div>
